/*
 * IMPORTANT NOTE: This file isn't actually being used anywhere, so changing
 * these values will have absolutely no effect on anything. I'm just keeping it
 * around as a reference while I make the transition to the "nostarch" module.
 * /kf
 */

/* $Id: uc_product.css,v 1.9.2.5 2009/04/22 17:35:40 islandusurper Exp $ */

/********************************* KF ***************************************/

/* adds 1 pixel border around teaser images on front page */
img.teaser-image {
  border: 1px solid black;
}

/* adds 1 pixel border around images on main product page */
img.imagecache-product_main_page {
  border: 1px solid black;
}

/* alters the images used in the catalog list */
.imagecache-product_list {
  float: left;
  clear: left; 
  margin-right: 3px;
  margin-top: 9px;
  margin-left: 35px;
}
.views-field-title {
  margin-top: 12px;
}

/* fixes stupid new catalog not being lined up */
td.col-1 {
  width: 50%;
}
td.col-2 {
  width: 50%;
}

td.teaser-node-mc {
  padding: 0px; /* default is 5, frees up space on front page */
}
td.node-mc {
  padding: 1px; /* default is 10 5, this frees up more space on pages */
}

div#main {
  padding: 5px; /* default is 15, this gives extra space on most pages */
}

td.active {
  background-color: transparent; /* undo ugly selection of current table column */
}

.node-add-to-cart {
/*  float: left; */
/*  clear: left; */
  text-align: right; /* floats the button to the right when there's a dropdown */
  padding-top: 2px; 
  padding-left: 2px;
  padding-right: 32px;
  margin-left: 2px;
  margin-right: 32px;
}

.add-to-cart {
/*  float: right; *//* KF */
/*  clear: right; *//* KF */
  text-align: left; /* floats the button to the right when there's a dropdown */
/*  padding-top: 2px; */
  padding-left: 2px;
  /*padding-right: 30px;*/ /** added by me */
  margin-left: 2px;
}

/********************************** /KF ***************************************/

.product-image {
/*  float: right; KF */
  float: left; /* KF */
  clear: right;
  text-align: center;
/*  padding-top: 4px; KF */
  padding-left: 4px;
  margin-left: 4px;
  margin-right: 12px; /* KF */
}

.uc-price-display {
/*  float: right; KF */
/*  float: left; */ /* KF */
/*  clear: right; KF */
/*  clear: left; */
/*  width: 155px; */ /* KF */
/*  width: 100px; */
  text-align: center;
  font-size: 1.2em; /* KF */
/*  font-size: 1.3em; *//* KF */
/*  font-weight: bold; */ /* KF */
  padding-bottom: 4px; 
  padding-left: 2px;
  color: #000000; /* KF */
  margin-left: 2px; /* KF */
}

.display-price {
  float: right;
  clear: right;
  width: 100px; 
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 4px; 
  padding-left: 2px;
}

.model {
  display: inline;
  margin-right: 2em;
  font-weight: bold;
}

h3.title {
  margin-top: 1em;
}

.node-form .product-field table {
  width: auto;
  margin: 0;
}

.node-form .product-field td {
  padding: 3px 6px 0 0;
}

.node-form tbody {
  border: none;
  margin: 0;
}

.node-form .product-field table .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.node-form .product-field .form-text {
  width: auto;
  display: inline;
}

#products-selector table {
  margin: 0em 0em;
}

#products-selector td {
  padding: 0em .5em;
}

div#products-selector form {
  margin-bottom: 0em;
}

#products-selector div.form-item {
  margin-bottom: .5em;
  margin-top: .5em;
}

table.product-list {
  clear: both;
}

.add-feature div {
  padding-right: 1em;
}

.add-feature div, .add-feature label {
  display: inline;
}

